<ng-container *ngIf="product$ | async as product">
  <ng-container *ngIf="product.configurable">
    <a
      [routerLink]="
        {
          cxRoute: 'configure' + product.configuratorType,
          params: {
            ownerType: ownerTypeProduct,
            entityKey: product.code
          }
        } | cxUrl
      "
      class="btn btn-primary btn-block"
      cxAutoFocus
      [attr.aria-label]="'configurator.a11y.configureProduct' | cxTranslate"
      >
        <img *ngIf="(icon$ | async) as icon else defaultText" [src]="icon" height="100%" />
        <ng-template #defaultText>
          {{ 'configurator.header.toconfig' | cxTranslate }}
        </ng-template>
      </a>
  </ng-container>
</ng-container>
