<cx-carousel
  role="region"
  [attr.aria-label]="
    'productCarousel.carouselLabel' | cxTranslate: { title: title$ | async }
  "
  [items]="items$ | async"
  [title]="title$ | async"
  [template]="carouselItem"
  itemWidth="285px"
>
</cx-carousel>

<ng-template #carouselItem let-item="item">
  <a tabindex="0" [routerLink]="{ cxRoute: 'product', params: item } | cxUrl">
    <cx-media
      [container]="item.images?.PRIMARY"
      format="product"
      [alt]="item.name"
    ></cx-media>
    <h3>
      {{ item.name }}
    </h3>
    <div class="price">
      {{ item.price?.formattedValue }}
    </div>
  </a>
  <!--
      pros:
        - the merchant's configuration for product lists will be carried over here
        - arguably has loose coupling
      cons: does not play well with lazy-loading
    -->
    <!--
    <ng-template [cxOutlet]="ProductListOutlets.ITEM_ACTIONS">
      <ng-container cxInnerComponentsHost></ng-container>
    </ng-template>
    -->
    <!--
      Mind: need to pass context
      pros:
        - can do something like [ "ConfigureProductComponent", "AddToCartComponent" ]
        - has loose coupling if the cart module gets split out (I suppose @spartacus/cart)
          - so if the components cannot be found (as it cannot depend on the cart library), the component will simply not show up and the application can continue
      cons:
    -->
    <div class="actions">
      <ng-container cxInnerComponentsHost [additionalProviders]="getProviders(item)"></ng-container>
    </div>
</ng-template>
